.App {
  text-align: center;
}
.cal-btn{
  border: 1px solid black; 
  width: 100px; 
  height: 100px; 
}
.cal-body{
  width: 350px; 
  height: auto 0; 
  border: 1px solid blue; 
  display: flex; 
  flex-direction: column; 
}
